/*================ GLOBAL ================*/

a:link, a:visited, a:hover, a:active {
    color:#fff;
    text-decoration: none;
}



h1,h2,h3,h4,h5,h6{
	margin:0;
}

body {
	height:100%;
 	font: normal 18px "Roboto", Arial, sans-serif;

}

.container {
	 
	width:100%;
	height:100px;
	padding-top:70px;
}

ul {
	list-style-type: none;
	 

}
 
li {
	 
}

.fa {
	color:#fff;
	cursor:pointer;
}

/*================ HEADER ================*/
.logo{
	display:inline-block;
	height:50px;
	width:50px;

}

.search-bar{
	height:30px;
	border:1px solid #ecf0f1;
	padding:10px;
	border-radius: 4px; 
	width:500px;
	display:inline-block;
	vertical-align:top;
	margin-top:10px;
	margin-left:20%;
}
 


/*================ COFFEE LIST ================*/
.coffee-list li{
	height:150px;
}

.coffee-img{
	display:inline-block;
	width:150px;
	height:100%;
	vertical-align: top;
}

.coffee-list-description {
	 display:inline-block;
	  
}

/*================ HEADER ================*/


header {
	width:100%;
	position:fixed;
	background-color:#8e44ad;
	height:50px;
	padding:0;
	top:0;
	right:0;
}

 

.menu-button{
	 
	cursor:pointer;
	display:inline-block;
	padding-top:15px;
	padding-right:15px;
	vertical-align:top;
	float:right;
}

.login-button{
	float:right;
	padding-right:10px;
	padding-top:15px;
	text-align:center;
}
 

/*================ NAVIGATOIN ================*/
nav{
	height:200%;
	right:-200px;
	top:50px;
	position:fixed;
	width:200px;
	background-color:#8e44ad;
	 
}

 

.profile-picture {
	display:inline-block;
	border-radius: 50%;
}

.profile-picture + h6 {
	display:inline-block;
	vertical-align: top;
}

nav > ul {
	padding:0;
	color:#fff;
}

nav > ul > li > a{
	display:inline-block;
	width:100%;
	height:100%;
	padding:10px 20px;
	text-align:center;

}

nav > ul > li > a:hover{
	background-color:#9b59b6;
}

nav > ul > li{
 	border-top:1px solid #9b59b6;
}

nav > ul > li:last-child{
 	border-bottom:1px solid #9b59b6;
}



/*================ PROFILE ================*/

.profile-nav {
	border:1px solid black;
	width:25%;
	height:80%;
	display:inline-block;
	vertical-align: top;
	position:fixed;
}

.profile-nav > ul > li > img {
	border:1px solid black;
}

.profile-body {
	border:1px solid black;
	display:inline-block;
	width:70%;
	height:80%;
	margin-left:28%;
}

.profile-body > ul > li > * {
	display:inline-block;
}


/*================ LOGIN ================*/
.login-form > div > label{
	display: inline-block;
}




